@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1626147299016') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xitongjiankong:before {
  content: "\e663";
}

.icon-xitongguanli:before {
  content: "\e64f";
}

.icon-Homehomepagemenu:before {
  content: "\e9ce";
}

.icon-shouye:before {
  content: "\e60b";
}

.icon-yunweiguanli:before {
  content: "\e676";
}

